<tei2html.config>
    <text.abbr>d.w.z.; b.v.; d.i.; i.d.; n.l.; c.M.; z.g.; m.m.; m.M.; M.M.; N.B.; Z.B.; Z.g.; o.a.; v.v.; h.d.; o.i.; l.c.; m.i.</text.abbr>

    <math.decimalSeparator>,</math.decimalSeparator>
    <math.thousandsSeparator>.</math.thousandsSeparator>
    <math.numberPattern>^[0-9]{1,3}(\.[0-9]{3})*(,[0-9]+)?$</math.numberPattern>

    <images.scale>0.5</images.scale>
    <images.maxSize>256</images.maxSize>
</tei2html.config>